
.itemListContainer{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting{
    position: relative;
}

.greeting::before{
    content: '';
    background-image: var(--bg-deg);
    position: absolute;
    height: 13rem;
    width: 15rem;
    left: -15rem;
    top: -7rem;
    clip-path: polygon(57% 77%, 64% 0, 100% 99%, 0 100%);
    border-radius: 50%;
}

.greeting::after{
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: 1.5rem;
    right: -1.5rem;
    background-image: var(--bg-deg);
}