

.addToCart{
    width: 100%;
    background-color: var(--branding);
    color: var(--white);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.add__icon{
    font-size: 2rem;
    color: var(--white);
    margin-right: 2rem;
    
}