
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav h2{
    position: relative;
    line-height: 1.7;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: var(--black);
}

.nav h2::after{
    content: '';
    width: 14rem;
    height: 1rem;
    background-color: var(--branding);
    position: absolute;
    left: -1rem;
    top: 0;
    z-index: -1;

}

.nav h2::before{
    content: '.';
    position: absolute;
    font-weight: bold;
    right: -1rem;
    color: var(--branding);
}

.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 20rem;
    cursor: pointer;
}

.nav ul img{
    filter:contrast(.5);
    width: 2rem;
}

